body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  padding: 10px;
  margin-bottom: 100px;
}

#person{
  display: grid;
  grid-template-columns: auto auto;
}

#person p{
  font-size: 17px;
}

#authors_grid{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

#authors_grid .card{
  margin: 1%;
  flex-basis: 31%;
} 

#carousel img{
  max-width: 100%;
  height: 1000px;
}

@media all and (max-width: 800px) {
  #carousel img{
    max-width: 100%;
    height: auto;
  }
  
}

/* Маленькие экраны */
@media all and (max-width: 500px) {
  #carousel img{
    max-width: 100%;
    height: 300px;
  }

  #authors_grid {
    flex-direction: column;
  }
  
}


.person_about{
  font-size: 20px;
  margin-left: 100px;
}
.person_card{
}