body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h2{
  color:black;
  text-align:center;
  padding: 10px;
}


.card{
  padding: 10px;
  margin-bottom: 100px;
}

.person_about{
  font-size: 20px;
  align-items: left;
  width: 70%;
}

.person_card{
  width: 30%;
}

#person{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: center;
}

#person p{
  font-size: 17px;
}

#person a{
  font-size: 19px;
}


#authors_flex{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

#authors_flex .card{
  margin: 1%;
  flex-basis: 31%;
} 

#carousel img{
  max-width: 100%;
  height: 1000px;
}

.dropdown {
  padding-left: 20px;
}

.who-is-this {
  display: flex;
  justify-content: center;
  align-items: center;
}

.who-is-this .person_about{
  margin-left: 100px;
}

.awards-creativity li{
  font-size: 20px;
  vertical-align: auto;
}

.awards-creativity span{
  display: inline;
  position: relative; 
  top: -2px;
}

.awards-creativity li::marker{
  content: '» ';
  font-size: 1.7em;
  color:rgb(42, 140, 165);
  line-height: auto;
}

.list-of-works {
  text-align: left;
  display: grid ;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px  ;
  width: 70%;
  font-size: 20px;
  line-height: 30px;
  margin: auto;
}

.list-of-works span{
  position: relative; 
  top: -6px;
}

.list-of-works li::marker{
  content: '◦ ';
  font-size: 1.8em;
  color:rgb(42, 140, 165);
}

.creation{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
}

.creation p{
  align-items: center;
  width: 70%;
  margin: auto;
  line-height: 40px;
}

@media all and (max-width: 800px) {
  #carousel img{
    max-width: 100%;
    height: auto;
  }
  
  .who-is-this{
    flex-direction: column;
  }

  .who-is-this .person_about{
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 20px;
  }

  .map-on-right{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list-of-works {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
}

/* Маленькие экраны */
@media all and (max-width: 500px) {
  .map-on-right{
    flex-direction: column;
  }

  #carousel img{
    max-width: 100%;
    height: 300px;
  }

  #authors_flex{
    flex-direction: column;
  }

  #person{
    flex-direction: column;
  }
  
  .map-on-right {
    flex-direction: column;
  }
  

  .who-is-this {
    flex-direction: column;
  }

  .who-is-this .person_about{
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .list-of-works {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }

  

}

.dropdown {
  padding-left: 20px;
}

.map-on-right {
  display: flex;
}

.awards-creativity {
  width: 70%;
  padding: 5% 5% 0 5%;
}

.map-and-video {
  display: flex;
  flex-direction: column;
  margin-top: 9%;
}

#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 255px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.map-and-video iframe {
  margin: 5% 5%;
}

